// Fonts
.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 600;
}

.font-extra-bold {
  font-weight: 700;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-trans {
  opacity: .5;
}

.text-big {
  font-size: 60px;
}

h1 {
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
}

.h1 {
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
}

.h2 {
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
}

.h3 {
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
}
